.card {
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 350px;
}
.card_title {
    text-align: center;
    font-size: 25px;
}
.card_container {
    border: 2px solid grey;
    border-radius: 10px;
}
.card_list {
    background-color: beige;
    height: 50px;
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid gray;
    padding-left: 20px;
}
.card_list a {
    text-decoration: none;
    color: #3272DB;
    padding: 7.5px 10px;
    border-radius: 7px;
}
.card_list a:focus {
    background-color: #3272DB;
    color: white;
}
.card_list_item {
    color: inherit;
}
.card_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.card_footer_title {
    margin: 5px;
}
.card_text {
    text-align: center;
    width: 70%;
    margin: 10px;
}
.card_button {
    border: none;
    background-color: #3272DB;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.card_button:hover {
    filter: brightness(1.25);
    transform: scale(0.9);
    transition: filter, transform 500ms ease;
}
.card_button::after {
    content: "🐶";
    /* background-color: url()no-repeat; */
    background-size: 100%;
    width: 15px;
    aspect-ratio: 1;
    display: block;
    margin-left: 10px;
}

